* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  main {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .buscar-comunidade {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .buscar-comunidade input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .buscar-comunidade button {
    padding: 10px 16px;
    border: none;
    background-color: #04aa6d;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .contribuintes-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .contribuinte {
    text-align: center;
    width: 100px;
  }
  
  .contribuinte img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .nome-contribuinte {
    font-weight: bold;
    margin-top: 8px;
  }
  
  .pontos-contribuinte {
    color: gray;
    font-size: 0.9em;
  }
  
  .historias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .historia-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 300px;
    position: relative;
  }
  
  .historia-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .historia-card .tag {
    background-color: #00b894;
    color: white;
    padding: 4px 10px;
    font-size: 0.75em;
    border-radius: 12px;
  }

  .historia-card-content{
    width: 100%;
    padding: 15px;
  }
  
  .historia-card h3 {
    font-size: 1.1em;
    margin: 10px 0 5px;
  }
  
  .historia-card p {
    font-size: 0.95em;
    color: #555;
  }
  
  .autor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding-right: 10px;
  }

  .autor > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .icones i {
    margin-left: 10px;
    cursor: pointer;
  }

  .tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00b894;
    color: white;
    padding: 4px 10px;
    font-size: 0.75em;
    border-radius: 12px;
    z-index: 1;
  }
  
  
  @media (max-width: 768px) {
    /* Centralizar os cards de histórias */
    .historias-container {
      justify-content: center;
    }
  
    /* Scroll horizontal nos top contribuintes */
    .contribuintes-container {
      display: flex;
      flex-wrap: nowrap;
      gap: 16px;
      padding-bottom: 10px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
    }

    .contribuintes-container::-webkit-scrollbar {
      display: none;
    }
  
    .contribuinte {
      min-width: 100px; /* mantém tamanho visível ao rolar */
      flex-shrink: 0;
    }
  }
  